header{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
    padding: 10px;

}

#logo{
    margin-left:-40px ;
    height: 30px;
    

}
.navbar{
    margin-left: -40px;
}

#avatar{
    margin-right: -50px;
    height: 30px;
}

#cart{
    margin-right: -100px;
}

.carousel-item{
    height: 80vh;
}