.cartEmpty{
  border-radius: 30px;
  border:white solid 1px;
  width: 100%;
  background-color: aqua;
  display:none;
}


#cartEmptyTitle{
   
    left: 10px;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    margin-left: 8%;
    margin-right: 8%;
    margin:1rem;
}

