
.cart{
    display: flex;
    flex-direction: row;
    margin-left:20px;
}


#imgCart{
    height: 80px;
    margin-left: 20px;
    border-radius: 10%;
}
.cart-item{
    display: flex;
    margin-left: 20px;
    color:hwb(0 75% 25%);
    align-items:baseline;
    align-content: center;
    justify-items: flex-start;
}
.cart-amount{
   margin-left: 10px;

}
.cart-total{
 color:black;
 width: fit-content;
 margin-left: -40px;
 
}
.delete{
   margin-left: 40px;
}
#checkout{
    margin:20px;
    margin-left: 50px;
    background-color:hsl(26, 100%, 55%);
    border-radius: 15px;
    border: none;
    height: 70px;
    color:white;
    width:60%;
}
/* CART FULL  */






