
html{
   font-family: "Kumbh Sans";

    /*  HEADER  */

}
header{
    display:flex;
    align-items: baseline;

}
#navLogo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
  
}
#navIcon{
    margin-left:50px;
}
#logo{
  padding-left: 10px;
    
}
.nav-menu{
   
    display: none;   
}
ul{
    list-style-type: none;
}
.nav-item{
    padding: 10px;
}
#cartAvatar{
    display: flex;
    justify-items: baseline;
}
#avatar{
height: 40px;
border: none;
background-color: white;
cursor: pointer;
padding-left: 20px;
}

#cart{
   padding-left: 400px;
   padding-right: 5px;
}

#cartIcon span{
   
    background-color: hsl(26, 100%, 55%);
    margin-left:-15px; 
    border-radius: 40%;
    padding:3px;
    color:white;
    margin-bottom: 10px;
    font-size: 9px;
    cursor: pointer;
    }
    
 h2{
    display: none;
 }


/*  CAROUSEL  */

.carousel-item{
    position: relative;
   
}
.carousel-slide{
    height: 80vh;
    width: 100%;
    position:absolute;
  
}

.controls{
    height: 30px;
    border: solid 1px;
    width: 30px;
    background-color:  white;
    border-radius: 50px;
    padding:8px;
    
}

.photos{
 
    display: none;
}

/*  BODY  */
#snk{
   color:hsl(26, 100%, 55%);
   padding-top:25px;
   font-weight: 600;

}


h3{
    font-size: 35px;
    font-weight:700;
    width:400px;
   

}

p{
    font-size: 20px;
    color:hsl(0, 0%, 75%);
    font-weight: 400;
    padding-right: 5px;
}

#description {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
   
    
    
}
#prize{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    padding:10px;
    width: fit-content;


}
#prize1{
    height:fit-content;
    width: fit-content;
    font-size: 25px;
    flex-grow: 0;
    padding-right:15px;
}

#prize2{
    margin-top: 10px;
    text-decoration: line-through;
    flex-grow: 1;
    padding-left:65px;
  
}


#percent{
    color:hsl(26, 100%, 55%);
    border: solid 1px hsl(25, 100%, 94%);
    width:fit-content;
    background-color:hsl(25, 100%, 94%) ;
    border-radius: 5px;
    padding: 3px;
    font-weight: 700;
    margin-top: 10px;
    flex-grow: 0;
}

/*  BUTTONS  */

.cart{
    display: flex;
    flex-direction: column;
    width: 375px;

}

.cart-input{
    
    background-color:hsl(223, 64%, 98%);
    border:none;
    width:100%;
    text-align: center;
   
}
.cart-plusButton{
    color:hsl(26, 100%, 55%);
    position:relative;
    border:none;
    background-color:hsl(223, 64%, 98%) ;
    font-size: 20px;
    font-weight: 600;
    right:10px;
    cursor: pointer;

}
.cart-minusButton {
    color:hsl(26, 100%, 55%);
    position:relative;
    border:none;
    background-color:hsl(223, 64%, 98%) ;
    font-size: 20px;
    font-weight: 600;
    left: 10px;
    cursor: pointer;
  
}
.cart-1{
    display:flex;
    background-color:hsl(223, 64%, 98%);
    border-radius: 15px;
    border: none;
    height: 70px;
    margin-bottom: 20px;
    margin-right: 40px;
   
}
#addToCart{
 
    background-color:hsl(26, 100%, 55%);
    border-radius: 15px;
    border: none;
    height: 70px;
    color:white;
    width:90%;
    cursor: pointer;
   
}
#cartImg{
    margin-right: 10px;
    filter: brightness(100);
    cursor:pointer;
}


/*  FOOTER  */

.attribution{
    margin-top: 60px;
    font-size: 15px;
    text-align: center;

}

a{
    color:hsl(26, 100%, 55%) ;
    text-decoration: none;
    font-size: 15px;
}


/*  LAPTOP  */

@media only screen and (min-width: 1000px){

 
    /*  NAV  */
   #header{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    margin-left: 8%;
    margin-right: 8%;
   }
   #nav{
    order: 1;
    
   }
   
   #logo{
    order:0;
    padding-left: 10px;
   }
   #cart{
    order:2;
    padding-left: 200px
    
   }
   #avatar1{
    order:3
   }
   /*  BODY  */
  

 

   .container{
    display:flex;
    flex-direction: row;
    
    
    
   }
   .photos{
    display: flex;
    max-width: 50%;
    width: 650px;
   

   }
   .imgdes{
   display: flex;
    padding: 20px;
    border-radius: 30px;
    max-width: 50%;
    margin-top: 20px;
    
    
   }
.carAndPic{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width:550px;
    height: 700px;
    padding-left:100px;
    padding-top: 50px;
    
}

#description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-left: 10%;

}

p{
    width: 400px;
    padding-top: 20px;
}

#prize{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 25px;
   
}
#prize1{
    font-size:25px;

    
}

#prize2{
   text-align: left; 

  
}
 .cart {
    display: flex;
    flex-direction: row;

 }
 #addCart{
    width:40%;
    margin-right: 20px;
 }
#addCart2{
    width: 80%;
}
.attribution{
    display: flex;
    align-content: center;
   justify-content: center;

}
}

