/*  LAPTOP  */
  
@media only screen and (min-width: 1000px){
    
  /*  NAV  */
   #header{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    margin-left: 8%;
    margin-right: -10%;
   align-items: baseline;
    
   }
  
  #navIcon{
    display:none;
  }

#menuLaptop{
  display: flex;  
  order:1;
}


.navList{
   
    display: flex;
    list-style-type: none;
   
}

.navLink{

display: flex;
color:black;
text-decoration: none;

 }

  #logo{
    
    padding-left: 10px;
    order:0;


   }

   #cart{
 
    padding-left: 200px
    
   }

 #navLogo{
  justify-content: center;
    align-items: baseline;
    
 }
   /*  BODY  */

   #mainContainer{
    display:flex;
    flex-direction: row;
    
   }
   
  /*  CAROUSEL  */

   #imgdes{
    display: flex;
    margin: 20px;
    margin-top: -10px;
    border: none;
    background: none;
    cursor:pointer;
    
   }
   
   .carousel-indicators{
    display:flex;
    justify-content: space-around;
    width:500px;
    
   }

   #controls{
    display: none;
   }
  .controls{
    width:60px;
    height:60px;
    background:fixed;
    background-color: white;
    padding:20px;
    
  }

  .carousel-control-prev
  
  {
    margin: 60px;
    height:400px;
  }

  .carousel-control-next{
   height: 600px;
   margin:-39px;

  }
   .img-fluid{
    display: flex;
    border-radius: 20%;
    border:hsl(26, 100%, 55%);
    height: 80px;
    width: 100px;
  
   }

#carouselSneakers{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width:550px;
    height: 700px;
    padding-left:100px;
    padding-top: 50px;
    
}
.carousel-inner{
    border-radius: 10%;
}

/* ITEM DESCRIPTION  */


#description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-left: 10%;

}

p{
    width: 400px;
    padding-top: 20px;
}

#prize{
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    align-content: flex-start;
    height: fit-content;
    padding: 0%;
   
}

#prizes{
  display: flex;
  flex-direction: column;
}
#prize1{
    font-size:25px;
}

#total{
  text-align: left;
  margin-left: -50px;
  margin-top: -20px;
}


 .cart {
    display: flex;
    text-align: left;
    flex-direction: row;
    width: 400px;

 }
 .cart-1{
    width:30%;
    margin-right: 20px;
 }
#addToCart{
    width:250px;
}

/*  CART FULL  */

.cartContent{
  width:fit-content;
  
}


.numbers{
  margin-top: -20px;
  width: 600px;
  
 
}

.cart-prize{
  width:15%;
 

}
.cart-amount{
  width:15%;
}

.cart-total{
  width: 15%;
}
#imgCart{
  height:60px ;

}
.cart-delete{
  margin-top:20px;
  width: fit-content;
}
#checkOut{
margin-top: 20px;
width: fit-content;
}
#cart-modal{
  height: 130px;

}

/*  FOOTER */

.footer{
  width: 1400px;
}


}
