/*  LAPTOP  */

@media only screen and (min-width: 1000px){

 
    /*  NAV  */
   #header{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    margin-left: 8%;
    margin-right: 8%;
   }
   #nav{
    order: 1;
    
   }
   
   #logo{
    order:0;
    padding-left: 10px;
   }
   #cart{
    order:2;
    padding-left: 200px
    
   }
   #avatar1{
    order:3
   }
   /*  BODY  */
  

 

   .container{
    display:flex;
    flex-direction: row;
    
    
    
   }
   .photos{
    display: flex;
    max-width: 50%;
    width: 650px;
   

   }
   .imgdes{
   display: flex;
    padding: 20px;
    border-radius: 30px;
    max-width: 50%;
    margin-top: 20px;
    
    
   }
.carAndPic{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width:550px;
    height: 700px;
    padding-left:100px;
    padding-top: 50px;
    
}

#description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-left: 10%;

}

p{
    width: 400px;
    padding-top: 20px;
}

#prize{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 25px;
   
}
#prize1{
    font-size:25px;

    
}

#prize2{
   text-align: left; 

  
}
 .cart {
    display: flex;
    flex-direction: row;

 }
 #addCart{
    width:40%;
    margin-right: 20px;
 }
#addCart2{
    width: 80%;
}
.attribution{
    display: flex;
    align-content: center;
   justify-content: center;

}
}

